<%- layout("layouts/boilerplate") %>

<div class="container mt-4">
  


  <div class="row">

    <!-- Listing Info -->
    <div class="col-md-7">
      <img
        src="<%= listing.image.url %>"
        class="img-fluid rounded"
        alt="<%= listing.title %>"
      >

      <h2 class="mt-3"><%= listing.title %></h2>

      <p>
        📍 <%= listing.location %>,
        <%= listing.country %>
      </p>

      <h4>
        ₹<%= listing.price.toLocaleString("en-IN") %>
        <small>/night</small>
      </h4>
    </div>

    <!-- Booking Form -->
    <div class="col-md-5">

      <div class="card shadow-sm p-4">

        <h3 class="mb-3">Reserve Your Stay</h3>

        <form action="/bookings/<%= listing._id %>" method="POST">

          <div class="mb-3">
            <label class="form-label">Check In</label>
            <input
              type="date"
              name="checkIn"
              class="form-control"
              required
            >
          </div>

          <div class="mb-3">
            <label class="form-label">Check Out</label>
            <input
              type="date"
              name="checkOut"
              class="form-control"
              required
            >
          </div>

          <div class="mb-3">
            <label class="form-label">Guests</label>
            <input
              type="number"
              name="guests"
              min="1"
              value="1"
              class="form-control"
            >
          </div>

          <!-- <button type="submit" class="btn btn-danger w-100">
            Reserve Now
          </button> -->
        <button type="button" id="pay-btn" class="btn btn-danger w-100">
            Pay & Book
          </button>

        </form>

      </div>

    </div>

  </div>

</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
document.getElementById("pay-btn")
.addEventListener("click", async () => {

  const amount =
    <%= listing.price %>;

  const response = await fetch(
    "/payment/create-order",
    {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        amount
      })
    }
  );

  const order = await response.json();

  const options = {
    key: "<%= process.env.RAZORPAY_KEY_ID %>",
    amount: order.amount,
    currency: order.currency,
    order_id: order.id,

    name: "WanderLust",

    handler: async function(response) {

      console.log("PAYMENT SUCCESS");
      console.log(response);

      alert("Payment Successful");

      const form = document.querySelector("form");
      console.log(form);
      form.submit();
    }
  };

  const rzp = new Razorpay(options);

  rzp.open();
});
</script>